/*
1. Posicionamiento
2. Modelo de caja
3. Tipografias
4. Visuales
5. Otros
*/

:root {
    /*Colores*/
    --bitcoin-orange: #f7931a;
    --soft-orange: #ffe9d4;
    --secondary-blue: #1a9af7;
    --soft-blue: #e7f5ff;
    --warm-black: #282623;
    --back: #201E1C;
    --grey: #bababa;
    --off-white: #faf8f7;
    --just-white: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    min-width: 320px;
    height: 334px;
    text-align: center;
    background: linear-gradient(207.8deg, #201e1c 16.69%, #f7931a 100%);
}

header>img {
    width: 150px;
    height: 24px;
    margin-top: 60px;
    align-self: center;
}

.header__title-container {
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    height: 218px;
    margin-top: 40px;
    text-align: center;
    align-self: center;
}

.header__title-container h1 {
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}

.header__title-container p {
    margin-top: 25px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: var(--soft-orange);
}

.header__title-container .header__button {
    position: absolute;
    top: 270px;
    display: block;
    margin-top: 35px;
    padding: 15px;
    width: 229px;
    height: 48px;
    background-color: var(--off-white);
    /* Sombra */
    box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
    border: none;
    border-radius: 5px;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none;
    color: var(--warm-black);
    left: 50%;
    transform: translate(-50%, 0);
}

.header__button span {
    display: inline-block;
    width: 13px;
    height: 8px;
    margin-left: 10px;
    background-image: url("./assets/icons/down-arrow.svg");
}

main {
    width: 100%;
    height: auto;
    background-color: var(--off-white);
}

.main__exchange-container {
    width: 100%;
    height: auto;
    padding-top: 80px;
    padding-bottom: 30px;
    text-align: center;
}
.main__exchange-container--title{
    width: 90%;
    min-width: 288px;
    max-width: 900px;
    margin: 0 auto;
}
.main__exchange-container .background-img{
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-bottom: 50px;
    background-image: url('./assets/img/Bitcoin.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.main__exchange-container--title h2{
    margin-bottom: 30px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--black);
}
.main__exchange-container--title p{
    min-width: 288px;
    max-width: 900px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.6rem;
    margin-bottom: 30px;
    color: #757575;
}
.main-tables-container, .table-container{
    display: flex;
    flex-direction: column;
}
.table-container{
    position: relative;
    min-width: 230px;
    max-width: 300px;
    align-self: center;
    height: auto;
    background-color: var(--just-white);
    border-radius: 15px;
    margin-bottom: 30px;
}
.table-container > h3 {
    color: #FF9536;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 2.3rem;
    margin-bottom: 10px;
    align-self: flex-start;
    margin-left: 12px;
}
.table-container__grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 39px);
    align-items: center;
    justify-items: self-start;
    margin-bottom: 16px;
}
.table-container__grid h4{
    color: #B5B0AC;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.9rem;
    margin-left: 12px;
}
.table-container__grid h5{
    font-family: 'Inter', sans-serif;
    font-size: 1.4rem;
    line-height: 1.7rem;
    color: #757575;
    font-weight: normal;
    margin-left: 16px;
    margin-left: 16px;
}
.table-container__grid >div{
    position: relative;
}

.table-container:first-child .table-container__grid div:nth-child(2n) h5::after{
    content: "";
    display: inline-block;
    width: 15px;
    height: 10px;
    margin-left: 10px;
    background-image: url('./assets/icons/trending-down.svg');
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    background-repeat: no-repeat;
}
.table-container:first-child .table-container__grid div:nth-child(4) h5::after{
    background-image: url('./assets/icons/trending-up.svg');
}
.table-container__updateDate span, p{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: var(--warm-black);
}
.table-container__updateDate p{
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    color: var(--warm-black);
}
.table-container__updateDate{
    width: 100%;
    height: 31px;
    background-color: var(--soft-orange);
    border-radius: 8px;
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table-container:nth-child(2) > h3{
    color: var(--secondary-blue);
}
.table-container:nth-child(2) .table-container__updateDate{
    background-color: #E7F5FF;
}

.table-container:first-child > span{
    position: absolute;
    top: 50%;
    left: 100%;
    background-image: url('./assets/icons/right-arrow.svg');
    width: 8px;
    height: 13px;
    background-repeat: no-repeat;
}
.table-container:nth-child(2) > span{
    position: absolute;
    top: 50%;
    right: 100%;
    background-image: url('./assets/icons/right-arrow.svg');
    width: 8px;
    height: 13px;
    background-repeat: no-repeat;
    transform: rotate(180deg);
}
.main__product-detail{
    position: relative;
    width: 100%;
    min-width: 320px;
    height: auto;
    padding: 20px 10px 40px;
    background-color: var(--back);
}
.main__product-detail > span:first-child{
    position: absolute;
    left: 50%;
    background-image: url('./assets/icons/batata.svg');
    height: 25px;
    width: 40px;
    top: -10px;
    transform: translate(-50%, 0);
}
.product-detail--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-top: 50px;
    text-align: center;
}
.product-detail--title h2{
    margin-bottom: 20px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.product-detail--title p{
    margin-bottom: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card{
    width: 90%;
    min-width: 288px;
    max-width: 400px;
    height: 150px;
    margin: 15px auto;
    padding: 15px;
    background-color: var(--warm-black);
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}
.product-detail--card .clock,
 .product-detail--card .eye,
  .product-detail--card .dollar-sing,
  .product-detail--card .check-circle{
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-bottom: 10px;
    background-image: url('./assets/icons/clock.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.product--card-title{
    margin-bottom: 15px;
    font-size: 1.8rem;
    font-weight: bold;
    line-height: 1.8rem;
    color: var(--just-white);
}
.product--card-body{
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #808080;
}
.product-detail--card .eye{
    background-image: url('./assets/icons/eye.svg');
}
.product-detail--card .dollar-sing{
    background-image: url('./assets/icons/dollar-sign.svg');
}
.product-detail--card .check-circle{
    background-image: url('./assets/icons/check-circle.svg');
}
.bitcoin-img-container{
    width: 100%;
    min-width: 320px;
    height: 50vh;
    background-image: url('./assets/img/bitcoinbaby2x.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}
.bitcoin-img-container h2{
    padding-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--just-white);
}
.main-plans-container{
    width: 100%;
    min-width: 320px;
    padding-bottom: 70px;
    text-align: center;
}
.plans--title{
    width: 90%;
    min-width: 288px;
    height: auto;
    margin: 0 auto;
    margin-bottom: 50px;
}
.plans--title h2{
    margin-top: 50px;
    font-size: 2.4rem;
    font-weight: bold;
    line-height: 2.6rem;
    color: var(--back);
}
.plans--title p {
    padding-top: 20px;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.8rem;
    color: #757575;
}
.plans-container__slider{
    display: flex;
    height: 316px;
    overflow-x: scroll;
    overscroll-behavior-x: contain;
    scroll-snap-type: x proximity;
}
.plans-container__card{
    scroll-snap-align: center;
    position: relative;
    width: 70%;
    min-width: 190px;
    max-width: 300px;
    height: 250px;
    margin: 50px 20px 0;
    padding: 0 15px;
    background-color: var(--just-white);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(89, 73, 30, 0.16);
}
.recomendado{
    position: absolute;
    width: 100px;
    height: 30px;
    background-color: var(--bitcoin-orange);
    left: 50%;
    transform: translate(-50%, -15px);
    border-radius: 8px;
    color: var(--just-white);
    font-size: 1.2rem;
    padding: 6px;
}
.plan-card__title{
    padding-top: 30px;
    font-size: 1.4rem;
    line-height: 1.8rem;
    font-weight: 500;
    color: black;
}
.plan-card__price{
    padding-top: 10px;
    font-size: 5.4rem;
    line-height: 6.3rem;
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
}
.plan-card__price > span {
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
}
.plan-card__saving{
    font-size: 1.2rem;
    line-height: 1.5rem;
    font-weight: 500;
    color: #757575;   
    padding: 16px;
}
.plan-card__ca{
    width: 150px;
    height: 48px;
    background-color: #FAF8F7;
    border: 2px solid #F7931A;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 1.4rem;
    list-style: 1.8rem;
    font-weight: bold;
    color: var(--warm-black);
}
.plan-card__ca span{
    display: inline-block;
    width: 30px;
    height: 20px;
    background-image: url('./assets/icons/orange-right-arrow.svg');
    vertical-align: text-bottom;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
footer{
    display: flex;
    width: 100%;
    height: 150px;
    background-color: var(--bitcoin-orange);
}
footer section{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}
footer .left ul {
    font-size: 1.4rem;
    line-height: 1.8rem;
    list-style: none;
    font-weight: 500;
}
.left li{
    margin: 10px 0;
}
.left a {
    text-decoration: none;
    color: var(--just-white);
}
